@import "styles/fonts.css";
@import "styles/vars.css";
@import "styles/reset.css";
@import "styles/promo.css";
@import "styles/header.css";

body {
    font-family: 'Inter-Regular', sans-serif;

}


a {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: var(--dark-08);
}

.container-section-1 {

    .table-section-1 {
        display: grid;
        width: 100%;
        grid-template-columns: 60% 40%;
        @media (width <= 764px) {
            grid-template-columns: 1fr;
        }

        .table-section-item-2 {
            background-image: url("./images/resources-preview/bg_tablet.png");
            background-size: cover;
            border: 1px solid var(--dark-15);
            border-left: none;
            display: flex;
            align-items: flex-end;

            .table-section-items {
                --padding-top: var(--space-80);
                --padding-left: var(--space-80);
                --padding-bottom: var(--space-80);
                padding-top: var(--padding-top);
                padding-left: var(--padding-left);
                padding-bottom: var(--padding-bottom);
                @media (width <= 1440px) {
                    --padding-left: var(--space-50);
                    --padding-bottom: var(--space-50);
                }

                .table-section-item {
                    padding-top: var(--space-30);
                    padding-bottom: var(--space-30);
                }

                .table-section-item-text {
                    .table-section-item-content-title-2 {
                        font-weight: 500;
                        font-size: var(--space-24);
                        color: var(--absolute-white);
                        @media (width <= 1440px) {
                            font-size: var(--space-20);
                        }
                    }

                    .table-section-item-content-title-3 {
                        font-size: var(--space-18);
                        color: var(--grey-60);
                        padding-bottom: var(--space-30);
                        padding-top: var(--space-15);
                        @media (width <= 1440px) {
                            font-size: var(--space-16);
                        }
                    }

                    a {
                        border: 1px solid var(--dark-15);
                        border-radius: var(--space-12);
                        padding: var(--space-18) var(--space-24);
                        background-color: var(--dark-08);
                        align-items: center;
                        @media (width <= 1440px) {
                            padding: var(--space-14) var(--space-20);
                            font-size: var(--space-14);

                            width: var(--space-20);
                            height: var(--space-20);

                        }
                    }
                }

                .table-section-item-img {
                    --padding-top: var(--space-10);
                    --padding-bottom: var(--space-5);
                    position: relative;
                    display: inline-flex;
                    border-radius: var(--space-40);
                    padding-top: var(--padding-top);
                    padding-bottom: var(--padding-bottom);
                    background-color: var(--dark-10);
                    border: 1px solid var(--dark-15);
                    align-items: center;

                    @media (width <= 1440px) {
                        --padding-top: var(--space-8);
                        --padding-bottom: var(--space-3);
                    }

                    .table-section-item-images-2 {
                        left: var(--space-minus-14);

                    }

                    .table-section-item-images-3 {
                        left: var(--space-minus-29);
                    }

                    .table-section-item-images-4 {
                        left: var(--space-minus-44);
                    }

                    .table-section-item-img-back {
                        position: relative;
                        left: var(--space-19);
                    }

                    img {
                        border-radius: 50%;
                        border: 2px solid var(--dark-40);
                        background-color: var(--dark-20);
                        object-fit: cover;
                        position: relative;
                        @media (width <= 1440px) {
                            height: var(--space-55);
                            width: var(--space-55);

                        }
                    }

                    img:first-child {
                        left: 0;
                    }
                }
            }
        }

        .table-section-item-1 {
            display: grid;
            grid-template-columns: 40% 35% 25%;

            .table-section-item-content-4, .table-section-item-content-2, .table-section-item-content-3 {
                border-bottom: none;
            }

            .table-section-item-content-1, .table-section-item-content-4 {
                border-right: none;
            }

            .table-section-item-content-2 {

                .table-section-item-content-title-2, span {
                    --font-size: var(--space-40);
                    font-weight: 600;
                    font-size: var(--font-size);
                    color: var(--absolute-white);
                    @media (width <= 1440px) {
                        --font-size: var(--space-30);
                    }
                    @media (width <= 764px) {
                        --font-size: var(--space-24);
                    }

                    span {
                        color: var(--yellow-55);
                    }
                }

                .table-section-item-content-title-3 {
                    --font-size: var(--space-18);
                    font-size: var(--font-size);
                    color: var(--grey-60);
                    @media (width <= 1440px) {
                        --font-size: var(--space-14);
                    }

                }
            }

            .table-section-item-content-1 {
                grid-column: 1 / span 4;
                border-top: none !important;

                .table-section-item-title {
                    --padding-top: calc(var(--space-80) * 2);
                    --padding-bottom: var(--space-80);
                    --padding-right: var(--space-50);
                    --padding-left: var(--space-30);

                    padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
                    @media (width <= 1440px) {
                        --padding-top: var(--space-80);
                        --padding-bottom: var(--space-80);
                        --padding-right: var(--space-40);
                    }
                    @media (width <= 764px) {
                        --font-size: var(--space-14);
                        --padding-top: var(--space-40);
                        --padding-bottom: var(--space-30);
                        --padding-right: var(--space-15);
                    }

                    .table-section-item-content-title-3 {
                        --font-size: var(--space-18);
                        font-size: var(--font-size);
                        color: var(--grey-50);
                        @media (width <= 1440px) {
                            --font-size: var(--space-17);
                        }
                        @media (width <= 764px) {
                            --font-size: var(--space-14);
                        }
                    }

                    .table-section-item-content-title-2 {
                        --font-size: var(--space-70);
                        --padding-top: var(--space-30);
                        font-family: var(--second-family), sans-serif;
                        font-weight: 500;
                        font-size: var(--font-size);
                        line-height: 1.2;
                        color: var(--absolute-white);
                        padding-top: var(--padding-top);
                        @media (width <= 1440px) {
                            --font-size: var(--space-55);
                            --padding-top: var(--space-20);
                        }
                        @media (width <= 764px) {
                            --font-size: var(--space-30);
                            --padding-top: var(--space-14);
                        }
                    }

                    .table-section-item-content-title-1 {
                        --font-size: var(--space-30);
                        font-weight: 500;
                        font-size: var(--font-size);
                        line-height: 1.2;
                        color: var(--dark-40);
                        @media (width <= 1440px) {
                            --font-size: var(--space-22)
                        }
                        @media (width <= 764px) {
                            --font-size: var(--space-18);
                        }
                    }
                }

            }
        }

        .table-section-item {


            .table-section-item-content {
                --padding-top: var(--space-50);
                --padding-bottom: var(--space-50);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: start;
                padding-top: var(--padding-top);
                padding-bottom: var(--padding-bottom);
                @media (width <= 1440px) {
                    --padding-top: var(--space-30);
                    --padding-bottom: var(--space-30);
                }
                @media (width <= 764px) {
                    --padding-top: var(--space-20);
                    --padding-bottom: var(--space-20);
                }
            }

            .table-section-item-content {
                border: 1px solid var(--dark-15);
            }
        }

    }

    .table-section-2 {
        display: grid;
        width: 100%;
        grid-template-columns: 33.333% 33.333% 33.333%;
        @media (width <= 764px) {
            grid-template-columns: 100%;
        }

        .table-section-2-item {
            border: 1px solid var(--dark-15);

            .table-section-2-items-text {
                --padding-top: var(--space-50);
                --padding-bottom: var(--space-50);
                --padding-right: var(--space-80);
                display: grid;
                grid-template-columns: 70% 55px;
                grid-template-rows: repeat(4, 1fr);
                padding-top: var(--padding-top);
                padding-bottom: var(--padding-bottom);
                padding-right: var(--padding-right);
                justify-content: flex-end;
                @media (width <= 1440px) {
                    --padding-top: var(--space-40);
                    --padding-bottom: var(--space-40);
                    --padding-right: var(--space-50);

                }

                .table-section-2-items-img {
                    margin: auto 0;
                    @media (width <= 1440px) {
                        width: var(--space-40);
                        height: var(--space-40);


                    }
                }

                .table-section-2-items-text-element-2 {
                    --padding-bottom: var(--space-30);
                    --font-size: var(--space-18);

                    font-size: var(--font-size);
                    padding-bottom: var(--padding-bottom);
                    @media (width <= 1440px) {
                        --font-size: var(--space-16);
                        padding-bottom: var(--space-20) ;
                    }
                }

                .table-section-2-items-text-element {
                    --font-size: var(--space-18);
                    color: var(--grey-50);
                    font-size: var(--font-size);

                    @media (width <= 1440px) {
                        --font-size: var(--space-16);
                    }
                    @media (width <= 764px) {
                        --font-size: var(--space-14);

                    }
                }

                .table-section-2-items-text-element-1 {
                    --padding-top: var(--space-30);
                    --font-size: var(--space-20);

                    padding-top: var(--padding-top);
                    font-weight: 500;
                    font-size: var(--font-size);
                    color: var(--absolute-white);
                    grid-row: 2 / 3;
                    @media (width <= 1440px) {
                        --font-size: var(--space-18);
                        --padding-top: var(--space-20) ;
                        white-space: nowrap;
                    }
                    @media (width <= 764px) {
                        --font-size: var(--space-16);
                    }
                }

                .table-section-2-items-text-element-2 {
                    grid-row: 3 / 4;
                }

                .table-section-2-items-text-element-3 {
                    grid-row: 4/ 5;
                }

                .table-section-2-items-text-element-4 {
                    grid-row: -4 / -2;
                    @media (width <= 1440px) {
                        img {
                            width: var(--space-54);
                            height: var(--space-44);
                            padding-left: var(--space-10);
                        }

                    }
                }
            }
        }
    }
}

.container-section-1 {

    border-bottom: var(--space-1) solid var(--dark-15);

    .section-1-content {
        background: var(--dark-10);

        .section-1-content-text {
            --padding-top: calc(var(--space-60) * 2);
            --padding-bottom: calc(var(--space-60) * 2);
            --padding-right: var(--space-162);
            --padding-left: var(--space-162);

            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
            @media (width <= 1440px) {
                --padding-top: var(--space-80);
                --padding-bottom: var(--space-80);
                --padding-right: var(--space-80);
                --padding-left: var(--space-80);
            }

            @media (width <= 764px) {
                flex-direction: column;
                align-items: flex-start;
                --padding-top: var(--space-40);
                --padding-bottom: var(--space-40);
                --padding-right: var(--space-16);
                --padding-left: var(--space-16);

            }

            a {
                --padding-top: var(--space-18);
                --padding-bottom: var(--space-24);
                border: 1px solid var(--dark-15);
                border-radius: var(--space-12);
                padding: var(--padding-top) var(--padding-bottom);
                background-color: var(--dark-08);
                @media (width <= 764px) {
                    --padding-top: var(--space-14);
                    --padding-bottom: var(--space-18);
                    margin: 0 auto;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                }
            }

            .section-1-content-heading {
                --padding-top: var(--space-20);
                --font-size: var(--space-58);

                font-weight: 500;
                font-size: var(--font-size);
                line-height: 130%;
                color: var(--absolute-white);
                padding-top: var(--padding-top);
                @media (width <= 1440px) {
                    --font-size: var(--space-44);
                }
                @media (width <= 764px) {
                    --font-size: var(--space-28);
                    padding-bottom: var(--space-10);
                }
            }

            .section-1-content-subcontainer {
                --font-size: var(--space-20);
                --padding-top: var(--space-6);
                --padding-right: var(--space-10);

                display: inline;
                border-radius: var(--space-4);
                padding: var(--padding-top) var(--padding-right);
                background: var(--dark-20);
                font-weight: 500;
                font-size: var(--font-size);
                color: var(--absolute-white);
                @media (width <= 1440px) {
                    --font-size: var(--space-16);
                    --padding-top: var(--space-4);
                    --padding-right: var(--space-8);

                }
                @media (width <= 764px) {
                    --font-size: var(--space-14);
                }

            }
        }
    }
}

.content-section-2-item-container {
    display: grid;
    grid-template-columns: 40% 60%;
    @media (width <= 764px) {
        grid-template-columns: 100%;
    }
    border-bottom: var(--space-1) solid var(--dark-15);

    .content-section-2-item-content-header {
        --padding-right: var(--space-80);
        --padding-left: var(--space-80);

        padding-right: var(--padding-right);
        padding-left: var(--padding-left);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @media (width <= 1440px) {
            --padding-right: var(--space-60);
            --padding-left: var(--space-60);
            svg {
                width: var(--space-48);
                height: var(--space-48);
            }
        }
        @media (width <= 764px) {
            --padding-right: var(--space-80);
            --padding-left: var(--space-80);
            padding-top: var(--space-50);
            padding-bottom: var(--space-50);
            border-bottom: var(--space-1) solid var(--dark-15);
        }

        .content-section-2-item-content-header-text-1 {
            --padding-top: var(--space-50);
            --padding-bottom: var(--space-16);
            --font-size: var(--space-40);

            font-weight: 600;
            font-size: var(--font-size);
            color: var(--absolute-white);
            padding-top: var(--padding-top);
            padding-bottom: var(--padding-bottom);
            @media (width <= 1440px) {
                --font-size: var(--space-33);
            }
            @media (width <= 764px) {
                --font-size: var(--space-24);
            }

            .content-section-2-item-content-header-text-2 {
                --font-size: var(--space-18);
                font-size: var(--font-size);
                @media (width <= 1440px) {
                    --font-size: var(--space-16);
                }
                @media (width <= 764px) {
                    --font-size: var(--space-14);
                }
            }
        }


    }

    .content-section-2-item-content {
        border-left: var(--space-1) solid var(--dark-15);
        @media (width <= 764px) {
            border-left: unset;

        }
    }

    .content-section-2-items-text {
        --padding-left: var(--space-80);
        --padding-right: var(--space-162);
        --padding-top: var(--space-80);
        --padding-bottom: var(--space-80);

        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 50% 50%;
        @media (width <= 764px) {
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr ;
        }
        padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
        gap: var(--space-30);
        @media (width <= 1440px) {
            --padding-left: var(--space-60);
            --padding-right: var(--space-80);
            --padding-top: var(--space-60);
            --padding-bottom: var(--space-60);
        }
        @media (width <= 764px) {
            --padding-left: var(--space-16);
            --padding-right: var(--space-16);
            --padding-top: var(--space-30);
            --padding-bottom: var(--space-30);
        }

        .content-section-2-items-text-section {
            --padding: var(--space-40);
            border: var(--space-1) solid var(--dark-15);
            border-radius: var(--space-12);
            padding: var(--padding);
            background: var(--dark-10);
            @media (width <= 1440px) {
                --padding: var(--space-30);
            }

            .content-section-2-items-text-1 {
                --font-size: var(--space-24);

                font-weight: 500;
                font-size: var(--font-size);
                color: var(--absolute-white);
                @media (width <= 1440px) {
                    --font-size: var(--space-20);
                }
                @media (width <= 764px) {
                    --font-size: var(--space-18);
                }
            }

            .content-section-2-items-text-2 {
                --padding-top: var(--space-20);
                --font-size: var(--space-16);

                padding-top: var(--padding-top);
                font-size: var(--font-size);
                @media (width <= 764px) {
                    --font-size: var(--space-14);
                }
            }
        }
    }
}

.tabs {
    display: grid;
    grid-template-columns: repeat(6, minmax(1px, 1fr));
    grid-template-rows: auto 1fr;
    column-gap: 1rem;
}

.tab {
    --padding-top: var(--space-50);
    --padding-bottom: var(--space-50);
    --padding-horizontal: var(--space-80);

    padding: var(--padding-top) var(--padding-horizontal) var(--padding-bottom) var(--padding-horizontal);
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

}

.tab-subtitle {
    --padding-top-bottom: var(--space-30);
    --padding-right-left: var(--space-24);
    grid-column: var(--n) / span 1;
    grid-row: 1;
    display: grid;
    padding: var(--padding-top-bottom) var(--padding-right-left);
    border-radius: var(--space-8);
    border: var(--space-1) solid var(--dark-15);
    cursor: pointer;
    z-index: 1;
    justify-content: center;
}

details[open] :is(summary, .summary) {
    --font-size: var(--space-18);
    font-weight: 500;
    font-size: var(--font-size);
    color: var(--absolute-white);
    background-color: var(--dark-10);
}

details::details-content {
    grid-row: 2;
    grid-column: 1 / -1;
    padding: var(--space-16);
    border-bottom: var(--space-1) solid var(--dark-15);
}

details:not([open])::details-content {
    display: none;
}

.tab-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    .tab-content-block {
        --padding-top: var(--space-80);
        --padding-bottom: var(--space-80);
        --padding-horizontal: var(--space-162);
        border-top: var(--space-1) solid var(--dark-15);
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: var(--padding-top) var(--padding-horizontal) var(--padding-bottom) var(--padding-horizontal);
        .link-blog{
            --padding-left: var(--space-20);
            z-index: 2;
            display: flex;
            align-items: center;
            padding: var(--padding-left) ;
            .section-1-content-link{
                --padding-horizontal: var(--space-24);
                --padding-vertical: var(--space-18);
                border: var(--space-1) solid var(--dark-15);
                border-radius: 12px;
                padding: var(--padding-vertical) var(--padding-horizontal);
                align-items: center;
            }

        }
        .tab-user-posts {
            .tab-user-posts-buttons {
                display: flex;
                gap: var(--space-10);

                .tab-user-posts-button {
                    --padding-horizontal: var(--space-16);
                    --padding-vertical: var(--space-8);

                    display: flex;
                    align-items: center;

                    border: 1px solid var(--dark-15);
                    border-radius: var(--space-30);
                    padding: var(--padding-vertical) var(--padding-horizontal);
                    background: var(--dark-10);
                    z-index: 3;
                    cursor: pointer;
                    transition: background 0.2s ease;

                    svg {
                        padding-right: var(--space-4);
                        transition: stroke 0.2s ease;

                    }

                    & --like.active svg {
                        stroke: #f50;
                        fill: #f50;
                    }


                }


            }

            .tab-user-posts-hero {
                --padding-top: var(--space-30);
                --padding-bottom: var(--space-10);
                --font-size: var(--space-26);
                padding-top: var(--padding-top);
                padding-bottom: var(--padding-bottom);

                font-weight: 600;
                font-size: var(--font-size);
                color: var(--absolute-white);
            }

            .tab-user-posts-text {
                --padding-bottom: var(--space-30);
                --font-size: var(--space-18);

                padding-bottom: var(--padding-bottom);
                font-size: var(--font-size);
            }
        }

        .user-card {
            --padding-right: var(--space-80);
            display: grid;
            grid-template-columns:  max(var(--space-80)) 1fr;
            align-items: start;
            gap: var(--space-16);
            padding-right: var(--padding-right);

            .user-card__role {
                --font-size: var(--space-18);
                font-size: var(--font-size);
            }

            .user-card__name {
                --font-size: var(--space-20);
                font-weight: 600;
                font-size: var(--font-size);
                color: var(--absolute-white);
            }

            .user-card__avatar {
                border-radius: 50%;
                background-color: var(--dark-25);
            }
        }

    }
}











