@import "styles/fonts.css";
@import "styles/vars.css";
@import "styles/reset.css";
@import "styles/promo.css";
@import "styles/header.css";

body {
    font-family: 'Inter-Regular', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    background-color: var(--dark-08);
}

.container-section-1 {

    .table-section-1 {
        display: grid;
        width: 100%;
        grid-template-columns: 60% 40%;
        .table-section-item-2{
            background-image: url("./images/resources-preview/bg_tablet.png");
            background-size: cover;
            border: 1px solid var(--dark-15);
            border-left: none;
            display: flex;
            align-items: flex-end;
            .table-section-items{
                padding-left: var(--space-80);
                padding-bottom: var(--space-80);
                @media (width <= 1440px) {
                    padding-left: var(--space-50);
                    padding-bottom: var(--space-50);
                }
                .table-section-item{
                    padding-top: var(--space-30);
                    padding-bottom: var(--space-30);
                }
                .table-section-item-text{
                    .table-section-item-content-title-2{
                        font-weight: 500;
                        font-size: var(--space-24);
                        color: var(--absolute-white);
                        @media (width <= 1440px) {
                            font-size: var(--space-20);
                        }
                    }
                    .table-section-item-content-title-3{
                        font-size: var(--space-18);
                        color: var(--grey-60);
                        padding-bottom: var(--space-30);
                        padding-top: var(--space-15);
                        @media (width <= 1440px) {
                            font-size: var(--space-16);
                        }
                    }
                    a{
                        border: 1px solid var(--dark-15);
                        border-radius: var(--space-12);
                        padding: var(--space-18) var(--space-24);
                        background-color: var(--dark-08);
                        align-items: center;
                        @media (width <= 1440px) {
                            padding: var(--space-14) var(--space-20);
                            font-size: var(--space-14);

                                width: var(--space-20);
                                height: var(--space-20);

                        }
                    }
                }
                .table-section-item-img{
                    position: relative;
                    display: inline-flex;
                    border-radius: var(--space-40);
                    padding-top: var(--space-10);
                    padding-bottom: var(--space-5);
                    background-color: var(--dark-10);
                    border: 1px solid var(--dark-15);
                    align-items: center;

                    @media (width <= 1440px) {
                        padding-top: var(--space-8);
                        padding-bottom: var(--space-3);
                    }
                    .table-section-item-images-2{
                        left: var(--space-minus-14);

                    }
                    .table-section-item-images-3{
                        left: var(--space-minus-29);
                    }
                    .table-section-item-images-4{
                        left: var(--space-minus-44);
                    }
                    .table-section-item-img-back{
                        position: relative;
                        left: var(--space-19);
                    }

                    img{
                        border-radius: 50%;
                        border: 2px solid var(--dark-40);
                        background-color: var(--dark-20);
                        object-fit: cover;
                        position: relative;
                        @media (width <= 1440px) {
                            height: var(--space-55);
                            width: var(--space-55);

                        }
                    }
                    img:first-child {
                        left: 0;
                        }
                }
            }
        }
        .table-section-item-1 {
            display: grid;
            grid-template-columns: 40% 35% 25%;
            grid-template-rows: 556px 197px;
            @media (width <= 1440px) {
                grid-template-rows: 440px 128px;

            }
            .table-section-item-content-4, .table-section-item-content-2, .table-section-item-content-3 {
                border-bottom: none;
            }

            .table-section-item-content-1, .table-section-item-content-4 {
                border-right: none;
            }
            .table-section-item-content-2{

                .table-section-item-content-title-2 ,span{
                    font-weight: 600;
                    font-size: var(--space-40);
                    color: var(--absolute-white);
                    @media (width <= 1440px) {
                        font-size: var(--space-30);
                    }
                    span{
                        color: var(--yellow-55);
                    }
                }
                .table-section-item-content-title-3{
                    font-size: var(--space-18);
                    color: var(--grey-60);

                }
            }
            .table-section-item-content-1 {
                grid-column: 1 / span 4;
                border-top: none !important;
                .table-section-item-title{

                    .table-section-item-content-title-3{
                        font-size: var(--space-18);
                        color: var(--grey-50);
                        @media (width <= 1440px) {
                            font-size: var(--space-17)

                        }
                    }
                    .table-section-item-content-title-2{
                        font-family: var(--second-family),sans-serif;
                        font-weight: 500;
                        font-size: var(--space-70);
                        line-height: 1.2;
                        color: var(--absolute-white);
                        padding-top: var(--space-30);
                        @media (width <= 1440px) {
                            font-size: var(--space-55)

                        }
                    }

                    .table-section-item-content-title-1{
                        font-weight: 500;
                        font-size: var(--space-30);
                        line-height: 1.2;
                        color: var(--dark-40);
                        @media (width <= 1440px) {
                            font-size: var(--space-22)

                        }
                    }
                }

            }
        }

        .table-section-item {



            .table-section-item-content {
                display: flex;
                flex-direction: column;
               justify-content: center;
                align-items: center;
                text-align: start;
            }

            .table-section-item-content {
                border: 1px solid var(--dark-15);
            }
        }

    }

    .table-section-2 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;

        .table-section-2-item {
            border: 1px solid var(--dark-15);

            .table-section-2-items-text{
                display: grid;
                grid-template-columns: 70% 55px ;
                grid-template-rows: repeat(4, 1fr);
                padding-top: var(--space-50);
                padding-bottom: var(--space-50);
                padding-right: var(--space-80);
                justify-content: flex-end;
                @media (width <= 1440px) {
                    padding-top: var(--space-40);
                    padding-bottom: var(--space-40);
                    padding-right: var(--space-50);

                }
                .table-section-2-items-img{
                    margin: auto 0;
                    @media (width <= 1440px) {
                        width: var(--space-40);
                        height: var(--space-40);

                    }
                }
                .table-section-2-items-text-element-2{
                    padding-bottom: var(--space-30) ;
                    @media (width <= 1440px) {
                        font-size: var(--space-16);
                        padding-bottom: var(--space-20) ;
                    }
                }
                .table-section-2-items-text-element{
                    color: var(--grey-50);
                    @media (width <= 1440px) {
                    font-size: var(--space-16);
                        white-space: nowrap;
                    }
                }
                .table-section-2-items-text-element-1{
                    padding-top: var(--space-30);
                    font-weight: 500;
                    font-size: var(--space-20);
                    color: var(--absolute-white);
                    grid-row: 2 / 3;
                    @media (width <= 1440px) {
                       font-size: var(--space-18);
                        padding-top: var(--space-20) ;
                    }
                }
                .table-section-2-items-text-element-2{
                    grid-row: 3 / 4;
                }
                .table-section-2-items-text-element-3{
                    grid-row: 4/ 5;
                }
                .table-section-2-items-text-element-4{
                    grid-row: -4 / -2;
                    @media (width <= 1440px) {
                        img{
                            width: var(--space-54);
                            height: var(--space-44);
                            padding-left: var(--space-10);
                        }

                    }
                }
            }
        }
    }
}




