.footer-container{
    --padding-horizontal: var(--space-162);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    display: grid;
    grid-template-rows: 90% 10%;
    .footer-bottom{
        display: flex;
        justify-content: space-between;
        .footer-bottom-left{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .footer-bottom-left-text{

            }
        }
    }
    .footer-top{
        --padding-vertical: var(--space-80);
        display: grid;
        grid-template-columns: repeat(5 , 20%);
        padding-top: var(--padding-vertical);
        padding-bottom: var(--padding-vertical);
    }

}